# ignore everything in root directory
/*

# un-ignore specific files in root directory
!.clang-format
!.gitignore
!.gitmodules
!CMakeLists.txt
!README.md

# un-ignore specific subdirectories (and everything in them)
!/Source/